<section class="pt-4 d-md-flex justify-content-between">
  <article
    class="col-12 mt-md-0 d-flex flex-wrap flex-md-nowrap align-items-center justify-content-between color-white fw-bold">
    <h5 class="contanier-toggle m-0 color-white text-uppercase fw-bold">
      {{ (store.classicMode$ | async) ? 'normal' : 'Gif' }}
      <mat-slide-toggle class="ms-md-2" color="accont" (change)="changeTypeImage()">
      </mat-slide-toggle>
    </h5>
    <div class="container-quantity-per-page py-2 py-md-0 d-flex align-items-center justify-content-between me-md-4">
      <h5 class="m-0 fw-bold me-2">Itens por página:</h5>
      <div class="container-items-per-page">
        <button mat-button [matMenuTriggerFor]="menu">
          <span>
            {{
            showNumberPerPage((store.totalPerPage$ | async)!)
            }}
          </span>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngFor="let option of options" (click)="addQuantity(option.value)">
            {{ showNumberPerPage(option.value) }}
          </button>
        </mat-menu>
      </div>
    </div>
    <div class="contanier-paginator col-12 pt-4 pt-md-0 d-flex align-items-center justify-content-between">
      <button matTooltipPosition="above" matTooltip="Página anterior"
        [disabled]="(store.currentTotal$ | async)! == (store.totalPerPage$ | async)!"
        [class.inactive-button]="(store.currentTotal$ | async)! == (store.totalPerPage$ | async)!">
        <mat-icon (click)="goPreviousPage()">arrow_back_ios</mat-icon>
      </button>
      <span class="pe-2">
        {{ showNumberPerPage((store.currentTotal$ | async)!) }} de {{ showNumberPerPage((store.totalList$ | async)!) }}
      </span>
      <button [disabled]="(store.totalList$ | async) == (store.currentTotal$ | async)"
        [class.inactive-button]="(store.totalList$ | async) == (store.currentTotal$ | async)" matTooltipPosition="above"
        matTooltip="Próxima página">
        <mat-icon (click)="goNextPage()">arrow_forward_ios</mat-icon>
      </button>
    </div>
  </article>
</section>
