<section class="pt-3 pb-4 d-flex align-items-center justify-content-between">
    <article class="d-flex align-items-center">
      <img width="40" height="auto" src="./assets/images/pokeball.svg">
      <h2 class="principal-title">DB_POKEDEX</h2>
    </article>
    <article>
      <a href="https://github.com/Daniel-BS-Dev" target="_blank"
        class="color-white d-flex justify-content-end align-items-center text-decoration-none">
        <img class="icon-git" src="./assets/images/github.svg">
        <span class="text-git">/daniel</span>
      </a>
    </article>
</section>
