.icon-git {
  width: 25px;
  height: 25px;
}

.text-git {
  font-size: 0.9em;
  color: #fff;
  font-weight: 600;
  margin-left: 2px;
}

.principal-title {
  margin: 0px;
  color: #fff;
  font-size: 1.35em;
  margin-left: 4px;
  font-weight: 900;
}

@media screen and (min-width: 768px) {
  .icon-pokeball {
    width: 30%;
    height: 30%;
  }

  .principal-title {
    font-size: 1.5em;
  }

  .icon-git {
    width: 30px;
    height: 30px;
  }

  .text-git {
    font-size: 1em;
  }
}
