<main>
  <section class="container mb-2 mt-1">
    <app-header></app-header>
    <app-search [store]="pokedexListStore"></app-search>
    <app-paginator></app-paginator>
  </section>

  <section class="d-flex justify-content-center mb-2 mt-1">
    <article class="container-card">
      <app-card *ngFor="let pokemon of (pokedexListStore.pokemonList$ | async)" [pokemon]="pokemon"
        (click)="pokedexListStore.onGetDetail(pokemon)">
      </app-card>
    </article>
  </section>

  <footer>
    <small>&copy;
      2023 Daniel Benedito. Todos os direitos reservados.
    </small>
  </footer>
</main>
